:root {
  --main: #363940;
  --second-Main: #52575d76;
  --gray-3: #3a434d;
  --gray-1: rgba(38, 37, 37, 0.972);
  --gray-2: rgba(0, 0, 0, 0.2);
  --black: #000;
  --dark-blue: #173459;
  --border-color: rgba(0, 255, 208, 0.489);
  --textColor: rgb(226, 226, 226);
}

body {
  background: url(/images/laptop.jpg) center center no-repeat;
  background: url(/images/wallpaperflare.com.jpg) center center no-repeat;
  background-size: cover;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
}

.content {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  left: 20px;
}

.content > h1 {
  font-size: 90px;
  text-shadow: 1px 2px 5px #000;
}

.content > h1 > span {
  color: var(--border-color);
}

.content > .line {
  height: 2px;
  width: 70%;
  background-color: #c3c3c3;
  position: relative;
  top: -5px;
  left: 70px;
  box-shadow: 1px 2px 5px #000;
}

.content > .line > div {
  height: 2px;
  width: 10px;
  background-color: #0cc8d6;
  filter: blur(5deg);
  box-shadow: 0px 0px 10px 1.5px rgb(8, 199, 238);
  animation: movingLine 3s linear infinite;
  position: relative;
}

@keyframes movingLine {
  0% {
    left: 0%;
  }

  100% {
    left: 97%;
  }
}

.content > p {
  font-size: 20px;
  color: rgb(13, 120, 177);
  font-weight: 600;
  position: relative;
  left: 55px;
  text-shadow: 1px 2px 5px #171618;
}

/* Media Queries For Home page Headline */
@media only screen and (max-width: 280px) {
  main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .content {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 0px;
  }

  .content > h1 {
    font-size: 40px;
  }

  .content > .line {
    height: 2px;
    width: 67%;
    position: relative;
    top: -3px;
    left: 34px;
  }

  @keyframes movingLine {
    0% {
      left: 0%;
    }

    100% {
      left: 92%;
    }
  }

  .content > p {
    width: 75%;
    font-size: 10px;
    font-weight: 600;
    position: relative;
    left: 37px;
  }
}

/* Media Queries For Home page Headline */
@media only screen and (min-width: 320px) and (max-width: 481px) {
  .content > h1 {
    font-size: 50px;
  }

  .content > .line {
    height: 2px;
    width: 66%;
    position: relative;
    top: -px;
    left: 40px;
  }

  @keyframes movingLine {
    0% {
      left: 0%;
    }

    100% {
      left: 93%;
    }
  }

  .content > p {
    font-size: 12px;
    color: rgb(13, 120, 177);
    font-weight: 600;
    position: relative;
    left: 40px;
    text-shadow: 1px 2px 5px #171618;
  }
}

.wrapper > .get-started {
  display: flex;
  position: relative;
  top: -100px;
}

.wrapper > .get-started > a {
  position: relative;
  left: 50%;
}

.wrapper > .get-started > a > .btn {
  height: 40px;
  width: 150px;
  font-size: 20px;
  font-weight: 600;
  color: var(--textColor);
  background-color: rgb(17, 146, 172);
  border: none;
  border-radius: 5%;
  cursor: pointer;
  box-shadow: 1px 2px 5px #000;
}

.wrapper > .get-started > a > .btn:hover {
  background-color: #410756;
}

/* Media Queries For Get Started Button */
@media only screen and (max-width: 280px) {
  .wrapper > .get-started {
    display: flex;
    justify-content: center;
    position: relative;
    top: -120px;
  }

  .wrapper > .get-started > a {
    position: relative;
    left: 0%;
  }

  .wrapper > .get-started > a > .btn {
    height: 30px;
    width: 100px;
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 0.5px;
  }
}

/* Media Queries For Get Started Button */
@media only screen and (min-width: 320px) and (max-width: 481px) {
  .wrapper > .get-started > a {
    position: relative;
    left: 45%;
  }

  .wrapper > .get-started > a > .btn {
    height: 30px;
    width: 100px;
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 0.5px;
  }
}
